*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

html{
    overflow-x: hidden;
    /* font-size: 10px; */
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-dark-primary);       
    scroll-behavior: smooth;
    overflow-x: hidden;  
    height: 100vh;
}

:root{
    --color-primary: #00abf0;
    --color-secondary: #b7c9d9;
    --color-accent: #072a48;

    --bg-dark-primary: #081b29;
    --bg-dark-secondary: #040822;

    --bg-gray: #171717;
    --bg-gray-hover:#282828;

    --font-family-primary: 'Plus Jakarta Sans', sans-serif;
    --font-family-secondary: 'poppins', sans-serif; 

    --border-radius: 0.3rem;
    --border: 1px solid var(--text-color-primary);

    --text-color-white: #ffffff;
    --text-color-primary: #3b3d49;
    --text-color-secondary: #737373;



}



/* global css starts here  */

a{
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font-family-secondary);
    color: var(--text-color-white);
} 

button , .button{
    /* background-color: var(--color-primary); */
    color: black;
    padding: .8rem 1.6rem;
    border-radius: var(--border-radius);
    margin-right: 1rem ;
    margin-top: 1rem;
    cursor: pointer;
    transition: all ease-in-out 200ms;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    min-width: 150px;
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--bg-dark-primary);
    border: var(--border);
}

.btn-primary:hover{
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color:var(--color-primary);
}
.btn-secondary{
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
.btn-secondary:hover{
    background-color: var(--color-primary);
    color: var(--bg-dark-primary);
    border: var(--border);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family-primary);
    font-weight: 900;
    color: var(--text-color-white);
    margin: 0 0 .5rem 0;
}

h1{
    font-size: 4rem;   
    line-height: 3.5rem;
}

h2{
    font-size: 2rem;
    line-height: 3.5rem;
}

h3{
    font-size: 1.4rem;
    line-height: 2.2rem;
}

h4{
    font-size: 1.2rem;
    line-height: 2rem;
}

p{
    font-size: 1rem;
    font-family: var(--font-family-secondary);
    line-height: 1.7rem;
    color: var(--text-color-white);
    margin: .5rem 0;   
}

i{
    color: var(--text-color-white);
    font-size: 1.4rem;
}

label{
    color: var(--text-primary-color);
}

input{
    border: none;
    outline: none;
    color: var(--text-primary-color);
}

li{
    font-family: var(--font-family-secondary);
    list-style: none;
    color: var(--text-color-white);
    font-size: 1rem;

}


ion-icon{
    color: var(--text-primary-color);
}
.subTitle{
    font-size: 2.4rem;
    line-height: 2rem;

}
.container{
    max-width: 1280px;
    width: 95%;
    border-radius: 10px;
    margin: 0 auto;
}
.container-xxl{
    max-width: 1400px;
    margin: 0 auto;

}
.row{
    width: 100%;
}

.title{
    text-align: center;
}
.parent{
    width: 99%;
    margin: 1rem auto;
}

.d-flex{
    display: flex;
    flex-wrap: nowrap;
 
    
}
.justify-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: start;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}
.direction-column{
    flex-direction: column;
}
.direction-row{
    flex-direction: row;
}
.align-content{
    align-content: space-between ;

}

.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap{
    flex-wrap: wrap;
}
.seprator{
    width: 100%;
    height: .4rem;
    background-color: var(--bg-gray-hover);
}

.padding{
    /* background-color: #9f0d14; */
    padding: 4% 0;
}


/* global css ends here  */
/* header starts here  */
header{
    background-color: var(--bg-dark-secondary);
    /* width: 100vw;
    overflow:hidden ; */
    position: sticky;
    top: 0;
    z-index: 3;
}
header .row{
    /* background-color: blue; */
    padding: 1% 0;
}
header .logo{
    width: 50%;
    /* background-color: red; */
    color:white;
    font-size: 2rem;
    font-family: var(--font-family-primary);
    font-weight: 600;
    color: var(--text-color-white);
}

header .logo img{
    width: 50%;
    /* background-color: green; */
}
header .navbar{
    /* background-color: black; */
}
header .navbar ul li{
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
}

header .navbar ul li:hover{
    /* background-color: var(--bg-gray); */
    color: #00abf0;
}
header .navbar ul li a{
    transition: all 0.5s ease;
    scroll-behavior: smooth;
}

header #hamburgerMenu{
    width: 50px;
    height: 30px;
    display: none;    
}
header #hamburgerMenu span{
    display: block;
    width: 35px;
    height: 2.5px;
    margin: 7px 0;
    /* gap: 150px; */
    background-color: white;
    transition: all ease-in-out 300ms;
}
header #hamburgerMenu #topBar{
    /* background-color: green !important; */
  
}

header #hamburgerMenu #bottomBar{
    /* background-color: red !important; */
  
}
/* header ends here  */
/* hero starts here */
.hero{
    min-height: 95vh;
    padding: 2% 0;
}
.hero .row{ 
    /* padding: 6% 0; */
}
.hero .column{
    width: 50%;
}
.hero .text{
    /* background-color: green; */
}
.hero .text .subTitle {
    color:#00abf0;
    font-family: var(--font-family-primary);
    font-weight: 600;
    color: var(--color-primary);
    margin: .7rem 0 2rem 0;
    font-size: 1.5rem;
}
.hero .social{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 1.5rem;
    margin-top: 5rem;
}
.hero .social i{
    color: var(--color-primary);
    border: 2px solid #00abf0;
    padding: .7rem;
    border-radius: 100%;
}
.hero .social i:hover{
    background-color: var(--color-primary);
    color: var(--bg-dark-primary);
    border: 2px solid var(--color-primary);

}
.hero .column img{
    width: 60%;
}

/* hero ends here */

/* about ends here  */
.about{
    background-color: var(--bg-dark-secondary);
}
.about .row{
    padding: 6%px 0;

}
.about .column{
    width: 50%;

}
.about img{
    width: 60%;
}
.about p{
    
}
/* about starts here  */
/* projects starts here  */
.projects.grid{
    display: grid;
    grid-template-columns: auto auto auto   ;
    gap: 1.6rem;
    /* background-color: red; */

    /* grid-template-columns: column; */
}
.projects .row{
    padding: 6%px 0;

}
.projects .column{
    /* width: 500px; */
    /* background-color: green; */
    position: relative;
    z-index: 1;
}


.projects .column .details{
    width: 100%;
    background-color: #252734ea;
    padding: 1rem;
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: all ease-in-out 400ms;
    display: flex;
    justify-content: center;
    align-items: center;

}
.projects .column .details h4{
    text-align: center;
}
.projects .column:hover .details{
    opacity: 1;
    border: var(--border);

}

.projects .column .image img{
    width: 100%;
    /* height: 250px; */
}
/* projects ends here  */
/* skills starts here  */
.skills .main .column {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(1fr);
}

.skills .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: yellow; */

}
.skills .main .column{
    /* background-color: red; */
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.skills .main .column img{
    width: 50%;
}
/* skills ends here  */
/* experience starts here  */
.experience {
    padding: 5% 0;
    background-color: var(--bg-dark-secondary);
}
.experience .main .column{
    width: 47%;
}


/* experience ends here  */
/* footer starts here  */

footer {
    padding: 2% 0 2%;
    background-color: var(--bg-dark-secondary);

    
}

footer i{
    font-size: 1.3rem;
    margin: 0 1.6rem 0 0;
}
/* contact ends here  */