*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    --primary-dark-color:#121212;
    --secondary-dark-color:#181818;
    --primary-text-color:#fff;
    --secondary-text-color: #4d4d4d;


    /* background-color: white; */
    list-style: none;
    
}
body{
    background-color: var(--primary-dark-color);
    color: var(--primary-text-color);
}

.container{
    width: 80%;
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.d-flex{
    display: flex;
}
.justify-content-around{
    justify-content: space-around;
}
p{
    text-align: justify;
}


/* header starts here  */
header{
    background-color: var(--secondary-text-color);
    
}
header .container{

}

header .logo{
    width: 20%;
}
header .logo img{
    width: 100%;

}
header .navbar ul {
    /* background-color: aqua; */
    
}

header .navbar ul li {
    margin: 0 1rem;
    padding: .5rem 1rem;
    color: var(--primary-text-color);
    cursor: pointer;
}
header .navbar ul li:hover{
    background-color: var(--secondary-dark-color);
}
header .hamburgerMenu{
    /* background-color: aqua;     */
}
header .hamburgerMenu span{
    display: none;
    margin: .5rem;
    width: 30px;
    height: 3px;
    background-color: white;
}
.active .navbars{
    display: block;
    background-color: red;
}

/* header ends here  */